{% extends 'layouts.njk' %}

{% block head%}
    <title>Sobre {{ about.cname }}</title>
{% endblock %}

{% block content %}

            <div class="about">
                <img src="{{ about.avatar }}" alt="image {{ about.cname }}">
                
                <h1>{{ about.cname }}</h1>

                <h2>{{ about.slogan }}</h2>

                <p>{{ about.description }}</p>
                <ul>
                    {% for language in about.languages %}
                    <li>{{ language.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div id="social" class="links">
                {% for link in about.links %}
                <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                {% endfor %}
            </div>
    
    
{% endblock %}